.table{
    border-collapse: separate;
    border-spacing: 4em 1em;
    margin: 0 -64px;
    &__par{
        color: 'text-color';
        font-weight: 400;
        &:last-child{
            border-right: 0;
        }
    }
    &__val{
        color: #fff;
        font-weight: 400;
    }
    &__row{

    }
}