.table{
    border-collapse: separate;
    border-spacing: 4em 1em;
    margin: 0 -64px;
        @include tablets() {
        margin: 0;
        border-spacing: 2.5em 1em;
    }
        @include phones() {
        border-spacing: 2.5em 0.7em;
    }


    &__par{
        color: 'text-color';
        font-weight: 400;
        &:last-child{
            border-right: 0;
        }
    }
    &__val{
        color: #fff;
        font-weight: 400;
    }
    &__row{

    }
}