section.contacts
	.container.contacts__container
		h2.section__header.contacts__header Что обо мне говорят
		include contacts__slider			
		h3.section__header.contacts__header Связаться со мной
		.contacts__form
		include form
		+image('content/cont_leaf1.png', 'contacts__decor-leaf1')
		+image('content/cont_leaf2.png', 'contacts__decor-leaf2')
		+image('content/cont_leaf3.png', 'contacts__decor-leaf3')
		+image('content/cont_leaf4.png', 'contacts__decor-leaf4')