footer.footer
	.container.footer__container
		.footer__yaer &#169 2019
		.footer__info
			.footer__info-name Ольга Арсеньева
			.footer__info-text Личный сайт разработчика
		.footer__content
			+nav('footer',["Главная","Обо мне","Навыки","Работы","Отзывы","Связаться"])
			.footer__group
				.footer__block
					.footer__block-text Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
					include social
					+social('footer')
				.footer__block
					blockquote.footer__blockquote Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
					span.footer__blockquote-autor Martin Golding