.form
	form.form__tag(action="")
		.form__row.form__row-double
			label.form__block(for="")
				span.form__block-title Введите ваше Имя
				input.form__input.form__field(type="text")
				+icon('user', 'form__field-img')
			label.form__block(for="")
				span.form__block-title Введите ваш email
				input.form__input.form__field(type="text")
				+icon('envelope', 'form__field-img')
		.form__row
			label.form__block(for="")
				span.form__block-title Сообщение к письму
				textarea.form__textarea.form__field(type="text")
				+icon('message', 'form__field-img')
		.form__row
			.form__button
				button.form__button-submit(type="submit")
					span.form__button-text Отправить