.form
	form.form__tag(action="")
		h3.section__header.form__header Связаться со мной
		.form__row.form__row-double
			label.form__block(for="")
				input.form__input.form__field(type="text" placeholder="Введите ваше Имя")
				+icon('user', 'form__field-img')
				span.form__block-title Введите ваше Имя
			label.form__block(for="")
				input.form__input.form__field(type="email" placeholder="Введите ваш email")
				+icon('envelope', 'form__field-img')
				span.form__block-title Введите ваш email
		.form__row
			label.form__block(for="")
				textarea.form__textarea.form__field(type="text" placeholder="Сообщение к письму")
				+icon('message', 'form__field-img')
				span.form__block-title Сообщение к письму
		.form__row
			.form__button
				button.form__button-submit(type="submit")
					span.form__button-text Отправить