.paralax
  .paralax-layer(data-speed="0")
    +image('content/par_1.png', 'paralax-img')
  .paralax-layer(data-speed="0.08")
    +image('content/par_2.png', 'paralax-img')
  .paralax-layer(data-speed="0.09")
    +image('content/par_3.png', 'paralax-img')
  .paralax-layer(data-speed="0.15")
    +image('content/par_4.png', 'paralax-img')
  .paralax-layer(data-speed="0")
    +image('content/par_5.png', 'paralax-img')
  .paralax-layer(data-speed="0")
    +image('content/par_6.png', 'paralax-img')
  .paralax-layer(data-speed="0")
    +image('content/par_1_1200.png', 'paralax-img')
  .paralax-layer(data-speed="0.1")
    +image('content/par_2_1200.png', 'paralax-img')
