script(type="text/x-template")#reviews
	.review
		.review__header
			h2.section__header.review__title Что обо мне говорят
			.review__controls
				button(type="button" @click="slide('next')").review__btn.review__btn-next
					+icon('arrow-down', 'review__btnnext-pict')
				button(type="button" @click="slide('previous')").review__btn.review__btn-prev
					+icon('arrow-down', 'review__btnprev-pict')
		.review__content
			flickity(ref="flickity" :options="flickityOptions")
				.review__content-item(v-for="(review, index) in reviews")
					blockquote.review__blockquote 
						p.review__text {{review.text}}
						.review__autor
							.review__autor-photo 
								img(:src="review['author-pic']").review__autor-pict
							.review__autor-info
								.review__autor-name {{review['autor-name']}}
								.review__autor-pos {{review['autor-pos']}}
