section.skills
	.container
		.skills__content
			.skills__descr
				h2.skills__header Чем я могу быть полезна вам
				p.skills__text Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
			.skills__presintation
				.skills__presintation-block
					.skills__presintation-text Front-end
					.skills__presintation-list
						+persent('-25s', 'HTML5')
						+persent('-13s', 'CSS3')
						+persent('-75s', 'Javascript')
						+persent('-25s', 'Jquery и Vue.js')
				.skills__presintation-block
					.skills__presintation-text Workflow
					.skills__presintation-list
						+persent('-13s', 'GIT')
						+persent('-25s', 'Terminal')
						+persent('-50s', 'Gulp')
						+persent('-37s', 'Webpack')
			+image('content/skills_hend.png', 'skills__decor')