table.table
	- var data = [{par: 'Проживаю:', val:'Всеволожск'}, {par: 'Возраст:', val:'34 года'}, {par: 'Родилась:', val:'6 января 1985'}]
	each row in data
		tr.table__row
			td.table__par #{row.par}
			td.table__val #{row.val}
