section.work
	.container.work__container
		h2.section__header.work__header Мои работы
		.work__content
			.work__slider
				include work__slider
			.work__descr
				ul.work__skills-list
					li.work__skills-item HTML
					li.work__skills-item CSS
					li.work__skills-item Javascript
				h3.work__descr-title Сайт школы образования
				p.work__descr-text Эта девушка проходила обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
				a.work__descr-link(href="#")
					+icon('link', 'work__descr-ref')
					.work-descr__link-text Посмотреть сайт